h1
{
    text-align: center;
}
.btn
{
    position: relative;
    left: 50%;
    align-items: center;
    border: 5px;
    border-radius: 50px;
    width: 200px;
    transform: translate(-50%,0);
    margin-top: 50px;

}